/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}



/* App.js */
.app__container {
  width: 100vw;
  height: 100vh;
}
.app__row {
  height: 100vh;
  align-items: center;
}
.app__col {
  text-align: center;
}



/* Circle.js */
/* svg:hover .circle__image { opacity: 1; } */
.circle {
  padding-top: 25px;
  padding-left: 60px;
}
.circle__svg1 {
  transform: rotate(-90deg);
  z-index: -1;
  position: relative;
}
.circle__circle1 {
  stroke-dasharray: 1900;
  stroke-dashoffset: 0;
  animation: progress calc(var(--pacman-rotation) * 1s);
}
/* .circle__svg2:hover .circle__circle2 { fill: rgba(0,0,0,0.5); } */
/* .circle__svg2 .circle__circle2 { fill: rgba(0,0,0,0.5); } */
.circle__image {
  width: 562px;
}
@keyframes progress {
	from { stroke-dashoffset: 1900; }
	to { stroke-dashoffset: 0; }
}
*:root { --pacman-rotation: 0; }
.circle__time {
  font-size: 150px;
  color: black;
  margin-top: -430px;
  margin-left: 150px;
  position: fixed;
}



/* Welcome.js */
.welcome__h1 {
  font-size: 55px;
  margin-bottom: 20px;
}
.welcome__tomato {
  width: 55px;
  height: 55px;
  margin-top: -10px;
}
/* .welcome__p {
  margin-top: -10px;
  font-size: 17px;
} */



/* Configuration.js */
.configuration p {
  margin-top: 10px;
}
.configure__type {
  margin-left: 5px;
  margin-right: 20px;
  width: 125px;
}
.configure__remote {
  background-color: black;
  border: none;
  outline: none !important;
  color: white;
}
.configure__remote__down {
  transform: rotate(-180deg);
  margin-right: 7px;
}
.configure__remote__up {
  margin-left: 7px;
}
.configuration__horizontals {
  width: 270px;
  margin: auto;
}
.horizontal {
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 5px;
  font-weight: bold;
  height: 45px;
  display: flex;
}
.configuration__verticals {
  width: 270px !important;
}
.vertical {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  width: 80px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -10px;
  outline: none !important;
}
.vertical:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}
.vertical:focus {
  background-color: white;
  border: 3px solid black;
  color: black;
}
.vertical:hover > .configure__remote {
  background-color: white;
  color: black;
}
.vertical:focus > .configure__remote {
  background-color: white;
  color: black;
}