.img-welcome {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

* {
  margin: 0;
  padding: 0;
}

.img-circle {
  width: 562px;
}

.container {
  width: 100vw;
  height: 100vh;
}

.row {
  height: 100vh;
  align-items: center;
}

.col-6 {
  text-align: center;
}

.circle {
  padding-top: 25px;
  padding-left: 60px;
}

.welcome__p {
  font-size: 20px;
  margin-top: -10px;
}

.configuration {
  width: 40%;
  margin: auto;
  margin-top: 30px;
}

.configure {
  border-radius: 10px;
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  height: 45px;
  align-items: center;
}

.configure-left {
  margin-top: 5px;
  float: left; 
  text-align: left;
  margin-left: 10px;
}

.configure-right {
  float: right;
  text-align: right;
  margin-right: 10px;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid white;
  background-color: black;
  color: white;
  outline: none;
  width: 40px;
}

svg{
  transform: rotate(-90deg);
}

@keyframes progress {
	from { stroke-dashoffset: 1900; }
	to { stroke-dashoffset: 0; }
}

*:root {
  --pacman-rotation: 0;
}

.ciircle {
  stroke-dasharray: 1900;
  stroke-dashoffset: 0;
  animation: progress calc(var(--pacman-rotation) * 1s);
}